.progress-bars {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    background-color: #585858;
    border-radius: 10px;
}

.progress-bar {
    width: 200px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    
}

.bar {
    width: 100%;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    margin-top: 5px;
    overflow: hidden;
}

.bar-value {
    padding: 2px 0;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}




