.egg-animation-container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.egg {
    width: 100px;
    height: 130px;
    background-image: url('img/egg.png');
    background-size: cover;
    transform-origin: bottom center;
    animation: shake 0.5s infinite alternate;
}

@keyframes shake {
    from {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(5deg);
    }
}



.otherPic {
    width: 100px;
    height: 130px;
    background-image: url('img/egg.png');
    background-size: cover;
    transform-origin: bottom center;
}
/* <div class="egg-animation-container">
        <div class="egg"></div> */