.button-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 5%;
    background-color: #193069;
    padding: 5px;
}

.buttongroup {
    margin-top: 10px; /* Adjust margin to move buttons down */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttongroup:hover {
    background-color: #0056b3;
}