body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #c2c810;
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

.news-item {
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 1rem;
    overflow: hidden;
    width: 30%;
    padding: 1rem;
}

.news-item img {
    max-width: 100%;
    height: auto;
}

.news-item h2 {
    margin-top: 0.5rem;
}

.news-item p {
    color: #666;
    font-size: 14px;
    margin-top: 0.5rem;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.read-more {
    display: none;
    margin-top: 10px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}

.read-more.expanded {
    display: block;
    max-height: 500px; /* Set an appropriate max-height */
}

.read-more-btn {
    background-color: #c2c810;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}